server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: ${DB_CLASSNAME}
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}