<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.life.finmate.goal.mapper.GoalMapper">
    <resultMap id="goalResultMap" type="com.life.finmate.goal.domain.Goal">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="goalName" column="goal_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="goalType" column="goal_type"/>
        <result property="targetAmount" column="target_amount"/>
        <result property="targetDate" column="target_date"/>
        <result property="currentAmount" column="current_amount"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
   </resultMap>

    <!-- Create -->
    <insert id="save" parameterType="com.life.finmate.goal.domain.Goal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO goals
            (user_id, goal_name, goal_type, target_amount, target_date, current_amount)
        VALUES
            (#{userId}, #{goalName}, #{goalType}, #{targetAmount}, #{targetDate}, #{currentAmount} )
    </insert>

    <!-- Read -->
    <select id="findByUserId" parameterType="java.lang.Long" resultMap="goalResultMap">
        SELECT *
        FROM goals
        WHERE user_id = #{userId}
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="goalResultMap">
        SELECT *
        FROM goals
        WHERE id = #{id}
    </select>

    <update id="updateById" parameterType="com.life.finmate.goal.domain.Goal" keyProperty="id">
        UPDATE goals SET
            goal_name = #{goalName},
            goal_type = #{goalType},
            target_amount = #{targetAmount},
            current_amount = #{currentAmount},
            target_date = #{targetDate},
            updated_at = NOW()
        WHERE
            id = #{id}
    </update>
    <!-- Delete -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM goals
        WHERE id = #{id}
    </delete>
</mapper>